* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {

    background-color: rgb(39, 39, 39);
    color: darkcyan;
    text-align: center;

}

h1 {
    color:rgb(39, 223, 223);
    text-align: left;
    margin-top: 1em;
    margin-left: 2%;
    font-size: 2em;
    
}

h2 {
    text-align: left;
    margin-top:0;
    float: none;
    margin-left: 5em;
    font-size: 1em;
    margin-bottom: 2em;
    color:rgb(144, 187, 187);
}

h3 {
    padding-top: .6em;
    padding-bottom: .6em;
    color:darkcyan;
}

li {
    padding-left: .6em;
    list-style: none;
}

header {

    float: left;
    width: 26%;
    margin-top: -2em;
    border: 0.2em solid darkgreen;

}

.sidebar {
    
    float: left;
    position: relative;
    margin: 0 auto;
    padding-left: 1em;
    top: -70em;
    width: 26%;
    text-align:left;
    border-right: 0.2em solid forestgreen ;

}

a:visited {
    color:darkslategray;
}

a {
    color: forestgreen;
 text-decoration: none;
}

a:hover {
    color: gold;
}

.sidebar a:hover {
    color: rgb(78, 40, 78);
}

.summary, .preamble, .main {
    margin-left: 30%;
    margin-right: 1%;

}

li:hover {
    background-color: rgb(226, 210, 210);
    color: rgb(122, 104, 0);

}

.summary {
    margin-top: 2em;
    width: 68%;
    text-align: center;
    font-size: 1em;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1em;
    background-color: rgb(24, 24, 24);
    padding: 1em;

    }

.preamble  {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-bottom: 2%;
    border-radius: 1.5em;
    background-color: rgb(90, 90, 90);
    color:rgb(206, 175, 0);
}

.preamble .h3 {
    margin:0;
    padding: 0;
}

footer {
    border-top: 2px dotted black;
    padding-top: 1em;
    margin-top: 2em;
    font-size: .8em;

}

.participation  {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-bottom: 2%;
    border-radius: 1.5em;
    background-color: rgb(24, 24, 24);
 
}

.requirements {

    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-bottom: 2%;
    border-radius: 1.5em;
    background-color: rgb(24, 24, 24);
 

}

.explanation {
    color: green;

}

.select, .archives, .resources {

    padding:.2em;
    padding-left: 0.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    background-color: rgb(22, 22, 22);
    text-decoration: underline;
    font-weight: lighter;
    margin-top: 1em;

}